<!DOCTYPE html>
<html>
    <head>
        <title>Notes Card</title>
        <style>
            .card {
                box-shadow: 0 4px 10px 0 rgba(1, 97, 161, 0.2);
                transition: 0.3s;
                width: 35%;
                background-color: lightskyblue;     
            }

            .card:hover {
                box-shadow: 0 5px 10px 0 rgba(17, 0, 170, 0.2);
            }

            .container {
                padding: 3px 12px;
                color: navy;
            }

            .wrapper{
                display: flex;
                gap: 20px;
                flex-wrap: wrap;
                justify-content: center;
                margin-top: 20px;
            }

            h1{
                font-size: 30.em;
                font-style: bold;
                background-color: rgb(105, 145, 231);
                text-align: center;
                color: rgb(43, 73, 172);
            }

            body{
                background-color: rgb(193, 214, 255);
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            }

            ul {
                list-style-type: none;
                margin: 0px;
                padding: 0px;
                overflow: hidden;
                background-color: rgb(64, 66, 160);
            }

            li {
                float: left;
            }

            li a {
                display: block;
                color: rgb(187, 222, 255);
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
            }

            li a:hover {
                background-color: rgb(209, 189, 255);
            }
        </style>
    </head>
    <body>
        <ul>
            <li><a class="active" href="/lab-4/add-note">Add Note</a></li>
            <li><a class="active" href="/lab-4">Notes List</a></li>
            <li><a class="active" href="/lab-4/note-list">Notes Card</a></li>
        </ul>
        <h1><b>Notes Card</b></h1>
        <div class="wrapper">
            {% for note in notes %}
            <div class="card">
                <div class="container">
                    <h4><b>{{note.judul}}</b></h4> 
                    <p>To: {{note.untuk}}</p>
                    <p>From: {{note.dari}}</p>
                    <p>Pesan:</p>
                    <p>{{note.pesan}}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </body>
</html>