<!DOCTYPE html>
<html>
    <head>
        <title>Add Note</title>
        <style>
            body{
                background-color: rgb(219, 204, 255);
                color: rgb(192, 80, 168);
                font-family: 'Courier New', Courier, monospace;
                font-size: 2.em;
            }
            ul {
                list-style-type: none;
                margin: 0px;
                padding: 0px;
                overflow: hidden;
                background-color: rgb(168, 121, 255);
            }

            li {
                float: left;
            }

            li a {
                display: block;
                color: rgb(217, 194, 255);
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
            }

            li a:hover {
                background-color: rgb(255, 190, 244);
            }
        </style>
    </head>
    <body>
        <ul>
            <li><a class="active" href="/lab-4/add-note">Add Note</a></li>
            <li><a class="active" href="/lab-4">Notes List</a></li>
            <li><a class="active" href="/lab-4/note-list">Notes Card</a></li>
        </ul>
        <h1><b>Add Note</b></h1>
        <br/>
        <form action = "" method="POST">
            {% csrf_token %}
            <table>
                <tr>
                    <td>{{form.untuk.label}}{{form.untuk}}</td>
                </tr>
                <tr>
                    <td>{{form.dari.label}}{{form.dari}}</td>
                </tr>
                <tr>
                    <td>{{form.judul.label}}{{form.judul}}</td>
                </tr>
                <tr>
                    <td>Pesan: {{form.pesan}}</td>
                </tr>
            </table>
            <input type="submit" value="submit">
        </form>
    </body>
</html>