<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Notes List</title>
        <style>
            body{
                background-color: rgb(195, 224, 195);
            }
            h1{
                font-family: monospace;
                color: rgb(56, 124, 56);
            }

            ul {
                list-style-type: none;
                margin: 0px;
                padding: 0px;
                overflow: hidden;
                background-color: rgb(64, 160, 131);
            }

            li {
                float: left;
            }

            li a {
                display: block;
                color: rgb(187, 255, 232);
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
            }

            li a:hover {
                background-color: rgb(153, 218, 255);
            }
        </style>
    </head>
    <body>
        <ul>
            <li><a class="active" href="/lab-4/add-note">Add Note</a></li>
            <li><a class="active" href="/lab-4">Notes List</a></li>
            <li><a class="active" href="/lab-4/note-list">Notes Card</a></li>
        </ul>
        <h1><b>Notes List</b></h1>
        <table border="3" width="35%" style="background-color: rgb(159, 209, 197); color: rgb(1, 104, 99);">
            <tr>
                <th>To</th>
                <th>From</th>
                <th>Title</th>
                <th>Message</th>
            </tr>
            {% for note in notes %}
            <tr>
                <td>{{note.untuk}}</td>
                <td>{{note.dari}}</td>
                <td>{{note.judul}}</td>
                <td>{{note.pesan}}</td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>