<!DOCTYPE html>
<html>
    <head>
        <title>Note</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script>
            $(document).ready(function(){
              $("button").click(function(){
                $("p").hide();
              });
            });
        </script>
        <style>
            h1{
                font-size: 30.em;
                font-style: bold;
                background-color: rgb(109, 62, 179);
                text-align: center;
                color: rgb(235, 222, 255);
            }
            table{
                font-family: Arial, Helvetica, sans-serif;
                background-color: rgb(255, 196, 239);
                color: rgb(173, 0, 126);
                margin-left: auto;
                margin-right: auto;
                border: #ccc 1px solid;
                width: 50%
            }
            table th {
                padding: 15px 30px;
                border-bottom: 1px solid #d8abff;
                border-left: 1px solid #d8abff;
                background-color: #d8abff;
            }
            table td {
                padding: 15px 20px;
                border-bottom: 1px solid #f7edff;
                border-left: 1px solid #f7edff;
            }
            body{
                background-color: rgb(140, 120, 204);
            }
        </style>
    </head>
    <body>
        <h1><b>Notes Card</b></h1>
        <table>
            <tr>
                <th>To</th>
                <th>From</th>
                <th>Title</th>
                <th>Action</th>
            </tr>
            {% for note in notes %}
            <tr>
                <td>{{note.untuk}}</td>
                <td>{{note.dari}}</td>
                <td>{{note.judul}}</td>
                <td colspan="3" style="text-align: center;" >
                    <button style="background-color: rgb(171, 255, 217);">View</button>
                    <button style="background-color: rgb(140, 179, 230);">Edit</button>
                    <button style="background-color: rgb(255, 171, 181);">Delete</button>
                </td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>
