<!DOCTYPE html>
<html>
    <head>
        <title>Menambahkan Teman</title>
    </head>
    <body>
        <h1>Add Friend</h1>
        <br/>
        <form action = "" method="POST">
            {% csrf_token %}
            <!-- <table>
                <tr>
                    <td>{{form.name.label}}{{form.name}}</td>
                </tr>
                <tr>
                    <td>{{form.npm.label}}{{form.npm}}</td>
                </tr>
                <tr>
                    <td>{{form.dob.label}}{{form.dob}}</td>
                </tr>
            </table> -->
            {{form.as_table}}
            <input type="submit" value="submit">
        </form>
    </body>
</html>